<!-- This is the about page -->



<!doctype html>
<html>

    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="Stylesheets/style.css">
    </head>

    <body class="grid-container-about">
        <header id="header">
            <div class="Logo">
                <a href="/"><img src="images/Smarthome.jpg" alt="mySmartHome" , width="150" height="150"></a>
            </div>

            <!-- Navigation Bar -->
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/list">View Devices</a></li>
                <li><a href="/adddevice">Add Devices</a></li>
                <li><a href="/devicesearch">Search Devices</a></li>
                <li><a href="/deletedevice">Delete Devices</a></li>
            </ul>
        </header>

        <div id="aboutinfo">
            <h1> About SmartHome </h1>
            <p>Learn more about SmartHome Hub</p>
        
        </div>

        <div id="aboutSmart">
            <h1>Our SmartHome Hub!</h1>
            <P>This is an integrated SmartHome Hub where users can add and manage their smart Home 
            devices all under one roof. We are committed to creating an integrated, samrt home for you
            your family members. 
            </P>
        </div>

        <div id="ourfeatures">
            <h1>Available User Options</h1>
            <p><b>View Devices</b>: In this page, you will be able to view all your available, Currently
            running devices. 
            
            <p><b>Add Devices</b>: In this page, you will be able to add devices to your SmartHome Hub. Choose
                the type of device from Aircons, Curtains, Ovens, Lights and TVs. Add the relevant fields in the 
                form and submit. Our Robust Database will store and track your added devices. 
            </p>

            <p><b>Search Devices</b>: In this page, you can search for a specific device that you have added
                to see its status and details. 
            </p>

            <p><b>Delete Devices</b>: In this page, you can delete a device that you had added. 

        </div>
        

    </body>

    <footer>
        <p>Designed by <span>Logesh Kiran</span></p>
    </footer>

</html>