<!doctype html>
    <html>

    <head>
        <title>This is the about page of the webpage!</title>
        <link rel="stylesheet" type="text/css" href="Stylesheets/style.css">
    </head>

    <body class="grid-container-about">
        <header id="header">
            <div class="Logo">
                <a href="/"><img src="images/Smarthome.jpg" alt="mySmartHome" , width="150" height="150"></a>
            </div>

            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/list">View Devices</a></li>
                <li><a href="/adddevice">Add Devices</a></li>
                <li><a href="/devicesearch">Search Devices</a></li>
                <li><a href="/deletedevice">Delete Devices</a></li>
            </ul>
        </header>

        <div id="aboutinfo">
            <h1> You have added device </h1>
            
        
        </div>
        
        <footer id="Footer">
            <div class="footer-info">
                <p>Designed by <span>Logesh Kiran</span></p>
            </div>
        
        </footer>
    </body>

</html>