<!-- This is the home page -->
<!doctype html>
<html>

<head>
    <title>Home</title>
    <!-- Link to the CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="Stylesheets/style.css">
</head>

<body class="grid-container-index">
    <header id="header">
        <div class="Logo">       
        <a href="/"><img src="images/Smarthome.jpg" alt="mySmartHome" , width="150" height="150"></a>
        </div>

        <!-- navigation bar -->
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/list">View Devices</a></li>
            <li><a href="/adddevice">Add Devices</a></li>
            <li><a href="/devicesearch">Search Devices</a></li>
            <li><a href="/deletedevice">Delete Devices</a></li>
        </ul>
</header>


  <div id="indexinfo">
    <h1> Welcome to Smarthome Hub </h1>
    <p>Your one stop control center for all your devices!</p>
</div>

    <div id="abouttab">
        <h2>About Us</h2>
        <text>Learn more about the SmartHome Hub</text><br><br>
        <button><a href="/about", style="text-decoration: none;">About</a></button>
    </div>

    <div id="listtab">
        <h2>View Devices</h2>
        <text>View all the currently running devices on SmartHome hub</text><br><br>
        <button><a href="/list", style="text-decoration: none;">View Devices</a></button>
    </div>

    <div id="adddevicetab">
        <h2>Add Device</h2>
        <text>Add a new device to your SmartHome Hub</text><br><br>
        <button><a href="/adddevice", style="text-decoration: none;">Add Devices</a></button>
    </div>

    <div id="searchtab">
        <h2>Search for Device</h2>
        <text>Click here to search for a currently running device</text><br><br>
        <button><a href="/devicesearch", style="text-decoration: none;">Search Devices</a></button>
    </div>

    <div id="deletetab">
        <h2>Delete Device</h2>
        <text>Delete a device from your SmartHome Hub</text><br><br>
        <button><a href="/deletedevice", style="text-decoration: none;">Delete Devices</a></button>
    </div>

    <div id="updatetab">
        <h2>Update Device</h2>
        <text>Currently Not Available</text>
    </div>

 

 
    
</body>

<footer>
    <p>Designed by <span>Logesh Kiran</span></p>
</footer>

</html>